@use "../variables" as var;
@use "font";

$control-size: var.$unit-9 !default;
$control-size-sm: var.$unit-7 !default;
$control-size-lg: var.$unit-10 !default;
$control-padding-x: var.$unit-2 !default;
$control-padding-x-sm: var.$unit-2 * .75 !default;
$control-padding-x-lg: var.$unit-2 * 1.5 !default;
$control-padding-y: ($control-size - font.$line-height) / 2 - var.$border-width !default;
$control-padding-y-sm: ($control-size-sm - font.$line-height) / 2 - var.$border-width !default;
$control-padding-y-lg: ($control-size-lg - font.$line-height) / 2 - var.$border-width !default;
$control-icon-size: .8rem !default;

$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;
