@use "variables" as var;

// Divider
.divider,
.divider-vert {
  display: block;
  position: relative;

  &[data-content]::after {
    background: var.$bg-color-light;
    color: var.$gray-color;
    content: attr(data-content);
    display: inline-block;
    font-size: var.$font-size-sm;
    padding: 0 var.$unit-2;
    transform: translateY(-1 * var.$font-size-sm + var.$border-width);
  }
}

.divider {
  border-top: var.$border-width solid var.$border-color-light;
  height: var.$border-width;
  margin: var.$unit-2 0;

  &[data-content] {
    margin: var.$unit-4 0;
  }
}

.divider-vert {
  display: block;
  padding: var.$unit-4;

  &::before {
    border-left: var.$border-width solid var.$border-color;
    bottom: var.$unit-2;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: var.$unit-2;
    transform: translateX(-50%);
  }

  &[data-content]::after {
    left: 50%;
    padding: var.$unit-1 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
