@use "variables/color" as color;
@use "variables/border" as border;

// Label base style
@mixin label-base() {
  border-radius: border.$radius;
  line-height: 1.25;
  padding: .1rem .2rem;
}

@mixin label-variant($color: color.$light, $bg-color: color.$primary) {
  background: $bg-color;
  color: $color;
}
