@use "variables" as var;
@use "variables/color" as color;
@use "mixins";

// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var.$html-font-size;
  line-height: var.$html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: color.$body-bg;
  color: color.$body-font-color;
  font-family: var.$body-font-family;
  font-size: var.$font-size;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: color.$link-color;
  outline: none;
  text-decoration: none;

  &:focus {
    @include mixins.control-shadow();
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: color.$link-color-dark;
    text-decoration: underline;
  }

  &:visited {
    color: color.$link-color-light;
  }
}
