@use "variables/color" as color;
@use "variables/font" as font;
@use "mixins";

// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: font.$html-size;
  line-height: font.$html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: color.$body-bg;
  color: color.$body-font;
  font-family: font.$body-family;
  font-size: font.$size;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: color.$link;
  outline: none;
  text-decoration: none;

  &:focus {
    @include mixins.control-shadow();
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: color.$link-dark;
    text-decoration: underline;
  }

  &:visited {
    color: color.$link-light;
  }
}
