@use "variables" as var;
@use "variables/color" as color;

// Breadcrumbs
.breadcrumb {
  list-style: none;
  margin: var.$unit-1 0;
  padding: var.$unit-1 0;

  .breadcrumb-item {
    color: color.$gray-dark;
    display: inline-block;
    margin: 0;
    padding: var.$unit-1 0;

    &:not(:last-child) {
      margin-right: var.$unit-1;

      a {
        color: color.$gray-dark;
      }
    }

    &:not(:first-child) {
      &::before {
        color: color.$gray-dark;
        content: "/";
        padding-right: var.$unit-2;
      }
    }
  }
}
