@use "variables/color" as color;
@use "variables/layout" as layout;
@use "variables/border" as border;

// Cards
.card {
  background: color.$bg-color-light;
  border: border.$border-width solid color.$border-color;
  border-radius: border.$border-radius;
  display: flex;
  flex-direction: column;

  .card-header,
  .card-body,
  .card-footer {
    padding: layout.$layout-spacing-lg;
    padding-bottom: 0;

    &:last-child {
      padding-bottom: layout.$layout-spacing-lg;
    }
  }

  .card-body {
    flex: 1 1 auto;
  }

  .card-image {
    padding-top: layout.$layout-spacing-lg;

    &:first-child {
      padding-top: 0;

      img {
        border-top-left-radius: border.$border-radius;
        border-top-right-radius: border.$border-radius;
      }
    }

    &:last-child {
      img {
        border-bottom-left-radius: border.$border-radius;
        border-bottom-right-radius: border.$border-radius;
      }
    }
  }
}
