@use "variables" as var;

// Chips
.chip {
  align-items: center;
  background: var.$bg-color-dark;
  border-radius: 5rem;
  display: inline-flex;
  font-size: 90%;
  height: var.$unit-6;
  line-height: var.$unit-4;
  margin: var.$unit-h;
  max-width: var.$control-width-sm;
  overflow: hidden;
  padding: var.$unit-1 var.$unit-2;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &.active {
    background: var.$primary-color;
    color: var.$light-color;
  }

  .avatar {
    margin-left: -1 * var.$unit-2;
    margin-right: var.$unit-1;
  }

  .btn-clear {
    border-radius: 50%;
    transform: scale(.75);
  }
}
