@use "variables" as var;
@use "variables/color" as color;
@use "variables/font" as font;
@use "variables/layout" as layout;
@use "variables/border" as border;
@use "mixins/label" as label;

// Codes
code {
  @include label.label-base();
  @include label.label-variant(color.$code-color, lighten(color.$code-color, 42.5%));
  font-size: 85%;
}

.code {
  border-radius: border.$border-radius;
  color: color.$body-font-color;
  position: relative;

  &::before {
    color: color.$gray-color;
    content: attr(data-lang);
    font-size: font.$font-size-sm;
    position: absolute;
    right: layout.$layout-spacing;
    top: var.$unit-h;
  }

  code {
    background: color.$bg-color;
    color: inherit;
    display: block;
    line-height: 1.5;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
  }
}
