@use "variables" as var;
@use "variables/color" as color;
@use "variables/layout" as layout;

// Empty states (or Blank slates)
.empty {
  background: color.$bg-color;
  border-radius: var.$border-radius;
  color: color.$gray-color-dark;
  text-align: center;
  padding: var.$unit-16 var.$unit-8;

  .empty-icon {
    margin-bottom: layout.$layout-spacing-lg;
  }

  .empty-title,
  .empty-subtitle {
    margin: layout.$layout-spacing auto;
  }

  .empty-action {
    margin-top: layout.$layout-spacing-lg;
  }
}
