@use "variables" as var;
@use "variables/color" as color;
@use "mixins/label" as label;

// Labels
.label {
  @include label.label-base();
  @include label.label-variant(lighten(color.$body-font, 5%), color.$bg-dark);
  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem; 
  }

  // Label colors
  &.label-primary {
    @include label.label-variant(color.$light, color.$primary);
  }

  &.label-secondary {
    @include label.label-variant(color.$primary, color.$secondary);
  }

  &.label-success {
    @include label.label-variant(color.$light, color.$success);
  }

  &.label-warning {
    @include label.label-variant(color.$light, color.$warning);
  }

  &.label-error {
    @include label.label-variant(color.$light, color.$error);
  }
}
