@use "variables" as var;
@use "variables/color" as color;
@use "mixins/label" as label;

// Labels
.label {
  @include label.label-base();
  @include label.label-variant(lighten(color.$body-font-color, 5%), color.$bg-color-dark);
  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem; 
  }

  // Label colors
  &.label-primary {
    @include label.label-variant(color.$light-color, color.$primary-color);
  }

  &.label-secondary {
    @include label.label-variant(color.$primary-color, color.$secondary-color);
  }

  &.label-success {
    @include label.label-variant(color.$light-color, color.$success-color);
  }

  &.label-warning {
    @include label.label-variant(color.$light-color, color.$warning-color);
  }

  &.label-error {
    @include label.label-variant(color.$light-color, color.$error-color);
  }
}
