@use "variables" as var;
@use "variables/color" as color;
@use "variables/control" as control;  
@use "variables/layout" as layout;
@use "variables/border" as border;
@use "mixins/shadow" as shadow;

// Menus
.menu {
  @include shadow.shadow-variant(.05rem);
  background: color.$bg-light;
  border-radius: border.$radius;
  list-style: none;
  margin: 0;
  min-width: control.$width-xs;
  padding: var.$unit-2;
  transform: translateY(layout.$spacing-sm);
  z-index: var.$zindex-3;

  &.menu-nav {
    background: transparent;
    box-shadow: none;
  }

  .menu-item {
    margin-top: 0;
    padding: 0 var.$unit-2;
    position: relative;
    text-decoration: none;

    & > a {
      border-radius: border.$radius;
      color: inherit;
      display: block;
      margin: 0 (-1 * var.$unit-2);
      padding: var.$unit-1 var.$unit-2;
      text-decoration: none;
      &:focus,
      &:hover {
        background: color.$secondary;
        color: color.$primary;
      }
      &:active,
      &.active {
        background: color.$secondary;
        color: color.$primary;
      }
    }

    .form-checkbox,
    .form-radio,
    .form-switch {
      margin: var.$unit-h 0;
    }

    & + .menu-item {
      margin-top: var.$unit-1;
    }
  }

  .menu-badge {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    .label {
      margin-right: var.$unit-2;
    }
  }
}