@use "variables" as var;
@use "variables/color" as color;

// Navs
.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: var.$unit-1 0;

  .nav-item {
    a {
      color: color.$gray-dark;
      padding: var.$unit-1 var.$unit-2;
      text-decoration: none;
      &:focus,
      &:hover {
        color: color.$primary;
      }
    }
    &.active {
      & > a {
        color: darken(color.$gray-dark, 10%);
        font-weight: bold;
        &:focus,
        &:hover {
          color: color.$primary;
        }
      }
    }
  }

  & .nav {
    margin-bottom: var.$unit-2;
    margin-left: var.$unit-4;
  }
}
