@use "variables" as var;
@use "variables/color" as color;
@use "variables/border" as border;

// Pagination
.pagination {
  display: flex;
  list-style: none;
  margin: var.$unit-1 0;
  padding: var.$unit-1 0;

  .page-item {
    margin: var.$unit-1 var.$unit-o;

    span {
      display: inline-block;
      padding: var.$unit-1 var.$unit-1;
    }

    a {
      border-radius: border.$border-radius;
      display: inline-block;
      padding: var.$unit-1 var.$unit-2;
      text-decoration: none;
      &:focus,
      &:hover {
        color: color.$primary-color;
      }
    }

    &.disabled {
      a {
        cursor: default;
        opacity: .5;
        pointer-events: none;
      }
    }

    &.active {
      a {
        background: color.$primary-color;
        color: color.$light-color;
      }
    }

    &.page-prev,
    &.page-next {
      flex: 1 0 50%;
    }

    &.page-next {
      text-align: right;
    }

    .page-item-title {
      margin: 0;
    }

    .page-item-subtitle {
      margin: 0;
      opacity: .5;
    }
  }
}
