@use "variables" as var;
@use "variables/color" as color;
@use "variables/layout" as layout;

// Panels
.panel {
  border: var.$border-width solid color.$border-color;
  border-radius: var.$border-radius;
  display: flex;
  flex-direction: column;

  .panel-header,
  .panel-footer {
    flex: 0 0 auto;
    padding: layout.$layout-spacing-lg;
  }

  .panel-nav {
    flex: 0 0 auto;
  }

  .panel-body {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 layout.$layout-spacing-lg;
  }
}
