@use "variables" as var;
@use "variables/color" as color;
@use "variables/border" as border;

// Progress
// Credit: https://css-tricks.com/html5-progress-element/
.progress {
  appearance: none;
  background: color.$bg-dark;
  border: 0;
  border-radius: border.$radius;
  color: color.$primary;
  height: var.$unit-1;
  position: relative;
  width: 100%;

  &::-webkit-progress-bar {
    background: transparent;
    border-radius: border.$radius;
  }

  &::-webkit-progress-value {
    background: color.$primary;
    border-radius: border.$radius;
  }

  &::-moz-progress-bar {
    background: color.$primary;
    border-radius: border.$radius;
  }

  &:indeterminate {
    animation: progress-indeterminate 1.5s linear infinite;
    background: color.$bg-dark linear-gradient(to right, color.$primary 30%, color.$bg-dark 30%) top left / 150% 150% no-repeat;

    &::-moz-progress-bar {
      background: transparent;
    }
  }
}

@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
