@use "variables" as var;
@use "variables/color" as color;
@use "variables/font" as font;
@use "variables/layout" as layout;
@use "variables/border" as border;

// Timelines
.timeline {
  .timeline-item {
    display: flex;
    margin-bottom: var.$unit-6;
    position: relative;
    &::before {
      background: color.$border-color;
      content: "";
      height: 100%;
      left: 11px;
      position: absolute;
      top: var.$unit-6;
      width: 2px;
    }

    .timeline-left {
      flex: 0 0 auto;
    }

    .timeline-content {
      flex: 1 1 auto;
      padding: 2px 0 2px layout.$layout-spacing-lg;
    }

    .timeline-icon {
      align-items: center;
      border-radius: 50%;
      color: color.$light-color;
      display: flex;
      height: var.$unit-6;
      justify-content: center;
      text-align: center;
      width: var.$unit-6;
      &::before {
        border: border.$border-width-lg solid color.$primary-color;
        border-radius: 50%;
        content: "";
        display: block;
        height: var.$unit-2;
        left: var.$unit-2;
        position: absolute;
        top: var.$unit-2;
        width: var.$unit-2;
      }

      &.icon-lg {
        background: color.$primary-color;
        line-height: font.$line-height;
        &::before {
          content: none;
        }
      }
    }
  }
}
