@use "variables" as var;
@use "mixins/toast" as toast;

// Toasts
.toast {
  @include toast.toast-variant(var.$dark-color);
  border: var.$border-width solid var.$dark-color;
  border-radius: var.$border-radius;
  color: var.$light-color;
  display: block;
  padding: var.$layout-spacing;
  width: 100%;

  &.toast-primary {
    @include toast.toast-variant(var.$primary-color);
  }

  &.toast-success {
    @include toast.toast-variant(var.$success-color);
  }

  &.toast-warning {
    @include toast.toast-variant(var.$warning-color);
  }

  &.toast-error {
    @include toast.toast-variant(var.$error-color);
  }

  a {
    color: var.$light-color;
    text-decoration: underline;
    
    &:focus,
    &:hover,
    &:active,
    &.active {
      opacity: .75;
    }
  }

  .btn-clear {
    margin: var.$unit-h;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
