@use "variables" as var;
@use "variables/color" as color;
@use "variables/layout" as layout;
@use "variables/border" as border;
@use "mixins/toast" as toast;

// Toasts
.toast {
  @include toast.toast-variant(color.$dark);
  border: border.$width solid color.$dark;
  border-radius: border.$radius;
  color: color.$light;
  display: block;
  padding: layout.$spacing;
  width: 100%;

  &.toast-primary {
    @include toast.toast-variant(color.$primary);
  }

  &.toast-success {
    @include toast.toast-variant(color.$success);
  }

  &.toast-warning {
    @include toast.toast-variant(color.$warning);
  }

  &.toast-error {
    @include toast.toast-variant(color.$error);
  }

  a {
    color: color.$light;
    text-decoration: underline;
    
    &:focus,
    &:hover,
    &:active,
    &.active {
      opacity: .75;
    }
  }

  .btn-clear {
    margin: var.$unit-h;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
